@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

header h1{
    text-align: center;
    margin: auto;
    width:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: auto;
}
nav{
    text-align: center;
    position: sticky;
}
nav li {
    display:inline-block;
    list-style-type: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1em 0.5em;
    margin: auto;
    top: 0;
    background: white;
}
main img {
    display:block;
    margin: auto;
    width:99%;
    height: 99%;
}
main p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3em;
    margin-right: 3em;
    width: 90%;
}
.more-articles {
    display:flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1em 0.5em;
    margin: auto;
    position: sticky;
    top: 0;
    background: white;
}
.more-articles section img{
    display:block;
    margin: auto;
    width:66%;
}
.more-articles section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3em;
    margin-right: 3em;
    width: 90%;
}