@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

html {
    scroll-behavior: auto;
}
header h1 {
    text-align: center;
    margin: auto;
    width:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: auto;
}
header {
    text-align: center;
    display: inline-block;
    position:sticky;
    top:0;
    z-index: 222;
}
nav {
    text-align: center;
    position: sticky;
    top:0;
    background-color: whitesmoke;
    z-index: 1;
}


nav li {
    display:inline-block;
    list-style-type: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: gray;
    padding: 1em 0.5em;
    margin: auto;
    top: 1em;
    background: whitesmoke;
}
main img {
    display:block;
    margin: auto;
    width:99%;
    height: 99%;
}
main p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3em;
    margin-right: 3em;
    width: 90%;
}
.more-articles {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1em 0.5em;
    margin: auto;
    position: sticky;
    top: 0;
    background: white;
}
.more-articles section h4 {
    position: relative;
    text-align: center;
    padding-right: auto;
}
.more-articles section img{
    display:block;
    margin: auto;
    width:66%;
}
.more-articles section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 3em;
    margin-right: 3em;
    width: 90%;
}